fsh-generated/
input-cache/
output/
temp/
template/
bc-fhir-template/package/.index.db
bc-fhir-template/package/.index.json
bc-fhir-template/package/*/.index.db
bc-fhir-template/package/*/.index.json
bc-fhir-template/package/content/assets/.index.db
bc-fhir-template/package/content/assets/.index.json
bc-fhir-template/package/content/assets/*/.index.db
bc-fhir-template/package/content/assets/*/.index.json
